/* 定义字体 */
@font-face{
  font-family: h_Regular;
  src: url("HarmonyOS Sans/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf");
}

@font-face{
  font-family: h_Medium;
  src: url("HarmonyOS Sans/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf");
}

@font-face{
  font-family: h_Bold;
  src: url("HarmonyOS Sans/HarmonyOS_Sans/HarmonyOS_Sans_Bold.ttf");
}