a {
    text-decoration: none ;
    color: var(--color);
}
.margin1 {
    margin:0 5px 10px;
}
/*可以拖拽*/
.canDrag{
    -webkit-app-region: drag;
}

.canDrag *{
    -webkit-app-region: no-drag;
}

.br20 {
    border-radius: 20px !important;
}

.width100 {
    width: 100%;
}

.overVisible {
    overflow: visible !important;
}

.overAuto {
    overflow: auto !important;
}

.noOutLine {
    outline: none !important;
}

