a {
    text-decoration: none ;
    color: white;
}
.margin1 {
    margin:0 5px 10px;
}
/*可以拖拽*/
.canDrag{
    -webkit-app-region: drag;
}

.canDrag *{
    -webkit-app-region: no-drag;
}

.br20 {
    border-radius: 20px !important;
}

.width100 {
    width: 100%;
}

.overVisible {
    overflow: visible !important;
}
.overAuto {
    overflow: auto !important;
}

.noOutLine {
    outline: none !important;
}

.listButton{
    border-radius: 20px !important;
    margin: 2px !important;
    width: auto !important;
    flex-grow: 1 !important;
    display: flex !important;
    transition: ease-in-out 200ms;
    /*transition: none !important;*/
}

.listButton:hover{
    background-color: var(--color-fill-2) !important;
}

.menuBar{
    border-radius: 20px !important;
    margin: 2px !important;
    width: auto !important;
    flex-grow: 1 !important;
    display: flex !important;
    overflow: hidden;
    background-color: var(--color-fill-2) !important;
}


.noHover{
    background-color: initial !important;
}

.fill2{
    background-color: var(--color-fill-2) !important;
    transition: ease-in-out 200ms;
}
.fill2:hover{
    background-color: var(--color-fill-3) !important;
    transition: ease-in-out 200ms;

}
