body {
  padding:0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 0;
}


.Footer {
  padding-left:0 !important;
  padding-right:0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  text-decoration: none ;
  color: white;
}
.canDrag{
  -webkit-app-region: drag;
}
.HeaderBar {
  margin-bottom: 20px;
}
.MainTitle {
  user-select: none;
  cursor: pointer;
  width: fit-content;
}

.card {
  margin:0 5px 10px;
  border-radius: 20px !important;
  box-shadow: none !important;
  border: 1px solid rgba(220, 220, 220, 0.45);

}

.ListItem {
  margin:0 5px 10px !important;
  padding: 10px;
  border-radius: 20px !important;
  border: solid 1px gainsboro !important;
}

.ListItem:hover {
  background-color: rgba(73,73,73,0.03);
}





Button {
  text-transform: none !important;
}

.imgBox {
  height: auto;
  grid-column-end: span 1;
  grid-row-end: span 1;
  display: inline-block;
  position: relative;
  line-height: 0;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  margin: 0 5px 10px;
  border-radius: 16px !important;
  box-shadow: none !important;
  /*outline: solid 1px gainsboro;*/
  cursor: pointer;
  transition: ease 0.3s;
}

.imgBox:hover {
  box-shadow: 3px 3px 13px 4px gainsboro;

  transform: scale(1.1);
  transition: ease 0.3s;
}

.imgBox:hover .imgChip{
  visibility: hidden;
  background-color: rgba(200,200,200,0) !important ;
  color: rgba(200,200,200,0) !important;
  transition: ease 0.3s;
}

.imgBox:hover .imgChip .MuiSvgIcon-root{
  visibility: hidden;
  background-color: rgba(200,200,200,0) !important ;
  color: rgba(200,200,200,0) !important;
  transition: ease 0.3s;
}

.imgBoxItem {
  object-fit: cover;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.imgChip {
  background-color: white !important;
  color: #282c34;
  float: left;
  display: block;
  position: absolute;
  left: 2px;
  Bottom: 2px;
  height: 25px !important;
  cursor: pointer;
  transition: ease 0.3s;
}

.imgChip span {
  font-size: small;
  overflow: visible !important;
}





.musicSearchBar {
  height: 60px;
  margin-bottom: 25px;
  text-align: right;
  display: flex;
  vertical-align: center;
  padding:2px 10px;
}

.captchaInput{
  width: 100%;
  margin-right: 20px;
}

img[src=""],img:not([src]){

  opacity:0;

}

.hoverImg:hover{
  box-shadow: 1px 2px 15px 1px rgba(176, 176, 176, 0.42);
  transition: ease-in-out 300ms;
}

.hoverImg{
  transition: ease-in-out 500ms;
}


.shadowImg{
  box-shadow: 1px 2px 15px 1px rgba(176, 176, 176, 0.42);
  transition: ease-in-out 300ms;
}

.activeLyric{
  font-weight:bold;
  background-color: var(--color-fill-2) !important;
  transition: ease-in-out 5000ms;
}
.activeBgc{
  background-color: var(--color-fill-2) !important;
}



/*#musicControlCenter:hover {*/
/*  !*transform: scale(1.5);*!*/
/*  width: 100vw;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/
.musicControlCenterFull {
  /*transform: scale(1.5);*/
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #FFFFFF;
  display: flex;
}

.musicControlBarFull {
  /*transform: scale(1.5);*/
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  height: 80vh;
  margin-top: 10vh;
  margin-left: 10vh;
  background: #FFFFFF;
  transition: ease-in-out 3000ms;
}

.lyricFull {
  /*transform: scale(1.5);*/
  flex-grow: 1;
  /*width: auto;*/
  height: 80vh;
  position: fixed;
  top: 0;
  left: 0;
  max-height: initial !important;
  margin: 10vh;
  background: #FFFFFF;
  transition: ease-in-out 3000ms;

}

.lyricFull .listButton {
  font-size: 20px;

}

.commentFull {
  flex-grow: 1;
  /*width: auto;*/
  height: 80vh;
  max-height: initial !important;
  margin: 10vh;
  background: #FFFFFF;
  transition: ease-in-out 3000ms;
}



.appBar {
  position: fixed;
  top: auto;
  height: 100px;
  bottom: 0;
}

.disPlayNone{
  display: none !important;
}

.toolsBarVisible{
  z-index: 1000;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: initial !important;
  background: #FFFFFF;
}
.musicBarVisible{
  z-index: 1000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: initial !important;
  background: #FFFFFF;
}

.toolsBarVisible {

}

.hover:hover {
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.1) !important;
  transition: ease-in-out 200ms;
}

.hover{
  transition: ease-in-out 200ms;
}

.hoverScale:hover {
  transform:scale(1.05);
}